/*====================================================== Home Page Styles =========================================================================================*/
/*======================= Header Wrapper Styles ========================*/
.header__wrapper .thumbnail {
  height: calc(100vh - 100px);
}
.header__wrapper .btn {
  font-size: 1.35rem;
  letter-spacing: 2px;
}
.header__wrapper.subpage .thumbnail {
  min-height: 100vh;
}

.marquee {
  color: #fff;
  white-space: nowrap;
  clear: both;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0;
}
.marquee span {
  margin-left: 1rem;
}
.marquee span::before {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background-color: var(--white);
  margin-right: 4px;
}

.icon__box {
  width: 5rem;
  height: 5rem;
  border-radius: 0.75rem;
  background-color: var(--brand);
}
.icon__box svg {
  width: 3rem;
  height: 3rem;
}

.setp__card .icon {
  width: 8rem;
  height: 8rem;
  background-color: rgba(0, 0, 0, 0.0392156863);
}

@media (max-width: 991px) {
  .icon__box {
    width: 4rem;
    height: 4rem;
  }
  .icon__box svg {
    width: 2rem;
    height: 2rem;
  }
}
.accordion .accordion-item {
  margin-bottom: 1.5rem;
  border: 1px solid #eaeaea !important;
  border-radius: 0.875rem;
  background-color: #FBFBFB;
  overflow: hidden;
  box-shadow: 0px 0.5rem 1.125rem rgba(0, 0, 0, 0.0784313725);
  position: relative;
}
.accordion .accordion-item .accordion-button {
  color: var(--dark);
  font-weight: 500;
  padding: 1.25rem;
  font-size: 1.25rem;
  min-height: 4.5rem;
  display: flex;
  align-items: center;
  box-shadow: none;
}
.accordion .accordion-item .accordion-button::after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMzMjg0N0YiIHN0cm9rZS13aWR0aD0iMi41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hldnJvbi1kb3duIj48cG9seWxpbmUgcG9pbnRzPSI2IDkgMTIgMTUgMTggOSI+PC9wb2x5bGluZT48L3N2Zz4=");
  background-size: 1.5rem 1.5rem;
}
.accordion .accordion-item .accordion-button:not(.collapsed) {
  color: var(--dark);
  background-color: transparent;
  box-shadow: none;
}
.accordion .accordion-item .accordion-button:focus {
  box-shadow: none;
}
.accordion .accordion-item .accordion-body {
  padding-top: 0;
}
.accordion .accordion-item .accordion-body p:last-child {
  margin-bottom: 0;
}

.form-control, .form-select {
  height: 3.5rem;
  padding: 0.5rem 1.25rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.label {
  font-weight: 500;
  display: block;
  margin-bottom: 0.25rem;
}

.form-check-input {
  width: 1.25rem;
  height: 1.25rem;
}

.form-check-input:checked {
  background-color: var(--brand);
  border-color: var(--brand);
}

.form-check-label {
  font-size: 1rem;
  font-weight: 500;
  padding-left: 0.75rem;
}

.whatsapp {
  transition: all 0.3s ease-in-out;
}
.whatsapp:hover {
  background-color: #f9f9f9;
}/*# sourceMappingURL=style.css.map */