@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
:root {
  --brand: #3ecfa4;
  --secondary: #32bee1;
  --bg-color: #558de4;
  --brand-light-bg: rgba(220, 25, 45, 0.04);
  --bg-light-blue: #D7E9F3;
  --link-color: #1D242E;
  --heading-color: #454545;
  --dark: #1B1918;
  --grey: #7B7B7B;
  --border-color: rgba(112, 112, 112, 0.431);
  --br: .875rem;
  --body-text-color: #696969;
  --border-radius: .35rem;
  --white: #ffffff;
  --body-font: "Montserrat", sans-serif;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
*::after, *::before {
  margin: 0%;
  padding: 0%;
}

html {
  font-size: 100%;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  text-rendering: optimizeLegibility;
  font-family: var(--body-font);
  font-display: swap;
  line-height: 1.65;
  color: var(--body-text-color);
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  padding-right: 0 !important;
}

.lead-lg {
  font-size: 1.375rem;
}

.lead-sm {
  font-size: 1.125rem;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-15 {
  font-size: 0.937rem;
}

.btn {
  font-size: 0.937rem;
}

.bg-light {
  background-color: rgba(0, 62, 110, 0.07) !important;
}

.bg-primary {
  background-color: var(--brand) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.bg-gradient {
  background-color: rgba(215, 233, 243, 0.24) !important;
}

.z-index {
  z-index: 99;
  position: relative;
}

.round {
  border-radius: 0.875rem;
}

.transition {
  transition: all 0.3s ease-in-out;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.text-primary {
  color: var(--brand) !important;
}

.text-dark {
  color: var(--dark) !important;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.spacing-x {
  letter-spacing: 2px;
}

.spacing-x-1 {
  letter-spacing: 1px;
}

.link {
  color: var(--brand);
  cursor: pointer;
  word-wrap: break-word;
  text-decoration: none;
}
.link:hover {
  color: var(--dark);
}

a {
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  color: var(--dark);
}
a:hover {
  color: var(--brand);
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}
ul li {
  list-style-type: none;
}

.btn:focus, .form-control:focus, .form-select:focus, .form-check-input:focus {
  box-shadow: none;
}

.btn {
  font-weight: 500;
  font-display: swap;
  color: var(--dark);
  font-size: 1rem;
  border-radius: var(--border-radius);
  padding: 0 1rem;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  transition: all 0.4s ease-in-out;
}
.btn.height {
  min-height: 2.875rem;
}
.btn.height.sm {
  font-size: 0.875rem;
  min-height: 2.25rem;
}

.btn-primary {
  background-color: var(--brand);
  border-color: var(--brand);
  color: var(--white);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: var(--dark);
  border-color: var(--dark);
}

.btn-outline-primary {
  border-color: var(--brand);
  color: var(--brand);
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
  background-color: var(--brand);
  border-color: var(--brand);
  color: var(--white) !important;
}

.btn-outline-white {
  border-color: var(--white);
  color: var(--white);
}
.btn-outline-white:hover, .btn-outline-white:focus, .btn-outline-white:active {
  background-color: var(--white);
  border-color: var(--white);
  color: var(--brand) !important;
}

.btn-white {
  background-color: #fff;
  border-color: #fff;
  color: var(--dark);
}
.btn-white:hover, .btn-white:focus {
  background-color: var(--brand);
  border-color: var(--brand);
  color: var(--white);
}
.btn-white:hover svg, .btn-white:focus svg {
  color: var(--white);
}

.modal-open {
  padding-right: 0 !important;
}

.scroller * {
  scrollbar-width: thin;
  scrollbar-color: #ddd #eee;
}

.scroller *::-webkit-scrollbar {
  width: 12px;
}

.scroller *::-webkit-scrollbar-track {
  background: #eee;
}

.scroller *::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 20px;
  border: 3px solid #eee;
}

/*------ Disc List Style ------------*/
.disc__list li {
  padding-left: 1.25rem;
  position: relative;
}
.disc__list li::before {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 0.5rem;
  left: 0%;
  background-color: var(--brand);
  border-radius: 50%;
}
.disc__list li:not(:last-child) {
  margin-bottom: 0.25rem;
}

.tooltip {
  opacity: 1;
}
.tooltip .tooltip-inner {
  padding: 0 0.5rem;
  min-height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  opacity: 1;
  line-height: 1.2;
}

.tooltip.show {
  opacity: 1 !important;
}

.pagination .page-item {
  margin: 0.2rem;
}
.pagination .page-item .page-link {
  border: 1px solid #E5E5E5;
  font-weight: 600;
  color: var(--body-text-color);
  border-radius: 0%;
  line-height: 1;
  padding: 0.75rem 0.75rem;
  min-width: 2.5rem;
  text-align: center;
}
.pagination .page-item .page-link img {
  width: 1.125rem;
}
.pagination .page-item .page-link.active {
  background-color: var(--brand);
  color: var(--white);
  border-color: var(--brand);
}
.pagination .page-item.active .page-link {
  background-color: var(--brand);
  color: var(--white);
  border-color: var(--brand);
}

@media (max-width: 991.99px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 767.99px) {
  .h1 {
    font-size: 2rem;
  }
}
@media (max-width: 575.99px) {
  html {
    font-size: 87.5%;
  }
  .btn {
    font-size: 0.937rem;
    padding: 0% 0.75rem;
  }
  .btn .arrow {
    width: 18px;
    height: 8px;
    background-size: contain;
  }
  .btn.height {
    min-height: 2.5rem;
  }
  .container {
    max-width: calc(100% - 20px);
  }
}
/*====================== Navigation Styles ===================*/
.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}

.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
  background-color: var(--white);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}
.scrolled-up .navbar-brand img {
  max-height: 4rem;
}

.navbar .btn-primary {
  font-size: 1.45rem;
}
.navbar .btn-whatsapp {
  background-color: #25d366;
  border-color: #25d366;
  width: 3.5rem;
  height: 3.5rem;
  animation: pulse 1.5s infinite;
}
.navbar .btn-whatsapp svg {
  height: 2rem;
  width: auto;
  fill: #fff;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #25d366;
  }
  70% {
    box-shadow: 0 0 0 1.25rem rgba(5, 103, 168, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(5, 103, 168, 0);
  }
}
@media (max-width: 576px) {
  .navbar .navbar-brand img {
    max-height: 6rem;
  }
  .navbar .btn-primary {
    font-size: 1.125rem;
  }
  .navbar .btn-primary svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}
footer {
  background-color: #272727;
  padding: 4rem 0 2rem 0;
}
footer .links a {
  color: var(--white);
  padding: 0.5rem 0.75rem;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
}
footer .links a:hover {
  text-decoration: underline;
  color: var(--yellow);
}

.social__links li {
  margin-bottom: 0;
}
.social__links li a {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--brand);
  color: var(--white);
}
.social__links li a svg {
  width: 1.25rem;
  height: 1.25rem;
}
.social__links li a svg path {
  transition: all 0.3s ease-in-out;
  fill: var(--white);
}
.social__links li a:hover, .social__links li a:focus {
  background-color: var(--white);
}
.social__links li a:hover svg path, .social__links li a:focus svg path {
  fill: var(--dark);
}
.social__links li:not(:first-child) {
  margin-left: 0.5rem;
}

/*---------------------- Back to Top Css --------------*/
.backTop {
  position: fixed;
  bottom: 3rem;
  padding: 0%;
  right: 2rem;
  width: 3rem;
  min-height: auto;
  height: 3rem;
  background-color: var(--brand);
  z-index: 999;
  border-radius: 50%;
  display: none;
  border: 2px solid var(--brand);
  justify-content: center;
}
.backTop svg {
  width: 1.25rem;
  height: 1.25rem;
}
.backTop:hover, .backTop:focus, .backTop:active {
  background-color: var(--brand);
}
.backTop.show {
  display: flex;
}

@media (max-width: 767.99px) {
  footer .logo__main {
    max-height: 6rem;
    width: auto;
  }
  footer .logo {
    max-height: 4rem;
    width: auto;
  }
}
@media (max-width: 575.99px) {
  footer .logo__main {
    max-height: 5rem;
    width: auto;
    margin-bottom: 1rem;
  }
  footer .logo {
    max-height: 3rem;
    width: auto;
  }
}/*# sourceMappingURL=variables.css.map */