.contact__card {
    .icon { width: 2rem; 
        img { height: 2rem; &.sm { height: 2rem; } }
    }
    .caption {
        width: calc(100% - 2rem);padding-left: .5rem;
    }
}
footer {    
    background-color: #EAEAEA;
    padding: 3rem 0 0rem 0;
 
    a { 
        color: var(--link-color);
        text-transform: capitalize;   
        font-size: .937rem; 
        font-weight: 500;
        &:hover { 
            text-decoration: underline;color: var(--brand);
        } 
    }
    
    .border-top { border-color: rgba(255, 255, 255, 0.3) !important;  }

   .copyright__wrapp {
        border-top: 1px solid var(--border-color);
    }
 
}


.social__links {
    li {
        margin-bottom: 0; 
        a {
            width: 2.5rem;
            height: 2.5rem;border-radius: 3px;
            background-color: var(--brand);
            color: var(--white);

            svg { width: 1.125rem;height: 1.125rem; 
                path {
                    fill: var(--white);
                }
            }

            &:hover, &:focus {
                background-color: var(--dark);color: var(--white);
            }
        }

        &:not(:first-child) {
            margin-left: .5rem;
        }
    } 
}


/*---------------------- Back to Top Css --------------*/ 
.backTop {
    position: fixed;
    bottom: 0rem;
    right: .5rem;
    width: 3rem;min-height: auto;
    height: 3.5rem;padding: .1rem 0 0 0;
    background-color: var(--white);
    z-index: 999;border-radius: 2rem 2rem 0 0;
    display: none;border: 2px solid var(--white);border-bottom: 0;
    justify-content: center; 

    ._icon {
        width: 2.5rem;height: 2.5rem;border-radius: 50%;color: var(--white);
        background-color: var(--brand);font-size: 1.45rem;margin-bottom: .5rem;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLWNoZXZyb24tdXAiPjxwb2x5bGluZSBwb2ludHM9IjE4IDE1IDEyIDkgNiAxNSI+PC9wb2x5bGluZT48L3N2Zz4=);
        background-repeat: no-repeat;
        background-size: 1.75rem;
        background-position: center center;
         
        &:hover { background-color: var(--yellow); }
    }

    &:hover, &:focus, &:active { 
        background-color: var(--dark); 
    }
    &.show {
        display: flex;
    }
}
 
 
 

@media (max-width: 767.99px) {
    footer {
        .logo__main { max-height: 6rem;width: auto; }
        .logo { max-height: 4rem;width: auto; }
    }
}

@media (max-width: 575.99px) {
    footer {
        .logo__main { max-height: 5rem;width: auto;margin-bottom: 1rem; }
        .logo { max-height: 3rem;width: auto; }
    }
}