 
footer {    
    background-color: #272727;
    padding: 4rem 0 2rem 0;
 
    .links {

        a { 
            color: var(--white);padding: .5rem .75rem;
            text-transform: capitalize;   
            font-size: 1rem; 
            font-weight: 500;
           
            &:hover { 
                text-decoration: underline;color: var(--yellow);
            } 
        }
    } 
 
}


.social__links {
    li {
        margin-bottom: 0; 
        a {
            width: 3rem;
            height: 3rem;border-radius: 50%;
            background-color: var(--brand);
            color: var(--white);

            svg { 
                width: 1.25rem;height: 1.25rem;
                path {
                    transition: all .3s ease-in-out;
                    fill: var(--white);
                }
            }

            &:hover, &:focus {
                background-color: var(--white); 
                svg {  
                    path {
                        fill: var(--dark);
                    }
                }
            }
        }

        &:not(:first-child) {
            margin-left: .5rem;
        }
    } 
}


/*---------------------- Back to Top Css --------------*/ 
.backTop {
    position: fixed;
    bottom: 3rem;padding: 0%;
    right: 2rem;
    width: 3rem;min-height: auto;
    height: 3rem; 
    background-color: var(--brand);
    z-index: 999;border-radius: 50%;
    display: none;border: 2px solid var(--brand); 
    justify-content: center; 
    
    svg {
        width: 1.25rem;height: 1.25rem;
     }

    &:hover, &:focus, &:active { 
        background-color: var(--brand); 
    }
    &.show {
        display: flex;
    }
}
 
 
 

@media (max-width: 767.99px) {
    footer {
        .logo__main { max-height: 6rem;width: auto; }
        .logo { max-height: 4rem;width: auto; }
    }
}

@media (max-width: 575.99px) {
    footer {
        .logo__main { max-height: 5rem;width: auto;margin-bottom: 1rem; }
        .logo { max-height: 3rem;width: auto; }
    }
}