 
/*======================= Header Wrapper Styles ========================*/ 
.header__wrapper {  
    .thumbnail {
        height: calc(100vh - 100px);  
     } 
    .btn {
        font-size: 1.35rem;letter-spacing: 2px;
    }

	&.subpage {
		.thumbnail {
			min-height: 100vh;
		}
	}
}

.marquee{
	color: #fff; 
	white-space: nowrap;
	clear: both; 
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0;
	span {
		margin-left: 1rem;

		&::before {
			content: '';width: 8px;height: 8px;display: inline-block;border-radius: 50%;background-color: var(--white);
			margin-right: 4px;
		}
	}
}
  

.icon__box{
    width: 5rem;
    height: 5rem;
    border-radius: .75rem;
    background-color: var(--brand);

	svg {
		width: 3rem;height: 3rem;
	}
} 

.setp__card {
	.icon {
		width: 8rem;height: 8rem;background-color: #0000000a;
	}
}
 
@media (max-width:991px) {
	.icon__box {
		width: 4rem;height: 4rem;

		svg { width: 2rem;height: 2rem; }
	}
}

.accordion {
	.accordion-item {
		margin-bottom: 1.5rem;border: 1px solid #eaeaea !important;border-radius: 0.875rem;
		background-color: #FBFBFB;overflow: hidden;
		box-shadow: 0px .5rem 1.125rem #00000014;
		position: relative;
		 
		.accordion-button {
			color: var(--dark);font-weight: 500;padding:1.25rem;  
			font-size: 1.25rem;min-height: 4.5rem;
			display: flex;
			align-items: center;
			box-shadow: none;
		 
			&::after {
				background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMzMjg0N0YiIHN0cm9rZS13aWR0aD0iMi41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hldnJvbi1kb3duIj48cG9seWxpbmUgcG9pbnRzPSI2IDkgMTIgMTUgMTggOSI+PC9wb2x5bGluZT48L3N2Zz4=');
				background-size: 1.5rem 1.5rem;
			}
			&:not(.collapsed) {
				color: var(--dark); 
				background-color: transparent;
				box-shadow: none; 
			}
			&:focus {
				box-shadow: none;
			}
 
		} 
		.accordion-body {
			padding-top: 0;
			p:last-child { margin-bottom: 0; }
		}
	}
}
 



 
 