

/*====================== Navigation Styles ===================*/
.smart-scroll {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
    box-shadow: 0 3px 4px rgba($color: #000000, $alpha: 0.15);
    
    .navbar-brand img { max-height: 4rem; }
}
.navbar {    
    .btn-primary {
        font-size: 1.45rem;
    } 

    .btn-whatsapp {
        background-color: #25d366;border-color: #25d366;
        width: 3.5rem;height: 3.5rem; -webkit-animation: pulse 1.5s infinite;
        animation: pulse 1.5s infinite;

        svg {
            height: 2rem;width: auto;fill: #fff;
        }
    }
} 

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 #25d366;
    }
    70% {
        -webkit-box-shadow: 0 0 0 1.25rem #0567a800;
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 #0567a800;
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 #25d366;
        box-shadow: 0 0 0 0 #25d366;
    }
    70% {
        -moz-box-shadow: 0 0 0 1.25rem #0567a800;
        box-shadow: 0 0 0 1.25rem #0567a800;
    }
    100% {
        -moz-box-shadow: 0 0 0 0 #0567a800;
        box-shadow: 0 0 0 0 #0567a800;
    }
}
    
@media (max-width:576px) { 
    .navbar {   
        .navbar-brand img {
            max-height: 6rem;
        } 
        .btn-primary {
            font-size: 1.125rem;

            svg {
                width: 1.25rem;height: 1.25rem;
            }
        }
    }
   
    
}
 
