 
 .form-control, .form-select {
    height: 3.5rem;padding: .5rem 1.25rem;font-size: 1.125rem;font-weight: 500;
 }
.label { font-weight: 500;display: block;margin-bottom: .25rem; }

.form-check-input { width: 1.25rem;height: 1.25rem; }
.form-check-input:checked { background-color: var(--brand);border-color: var(--brand); }

.form-check-label { font-size: 1rem;font-weight: 500;padding-left: .75rem; }

.whatsapp {
   transition: all .3s ease-in-out;

   &:hover {
      background-color: #f9f9f9;
   }
}